<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScaleMeds Login</title>
  </head>
  <body>
    <h1>Please Enter Credentials</h1>
    <form action="/authorise" method="post">
      <p>
        <label for="uname"
          >Username:&nbsp;
          <input type="text" name="uname" />
        </label>
      </p>
      <p>
        <label for="pwd"
          >Password:&nbsp;
          <input type="password" name="pwd" />
        </label>
      </p>
      <br />
      <button type="submit">Login...</button>
    </form>
  </body>
</html>
