<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScaleMeds Device Registration</title>
  </head>
  <body>
    <h1>Register Device</h1>
    <h3>Only <strong>1</strong> Master Device allowed per account.</h3>
    <p>Please use TAB key to navigate across the fields.</p>
    <form action="/device_reg_update" method="post">
      <p>
        <input
          type="text"
          name="id_pt_0"
          required
          minlength="8"
          maxlength="8"
        />-
        <input
          type="text"
          name="id_pt_1"
          required
          minlength="8"
          maxlength="8"
        />-
        <input
          type="text"
          name="id_pt_2"
          required
          minlength="8"
          maxlength="8"
        />-
        <input
          type="text"
          name="id_pt_3"
          required
          minlength="8"
          maxlength="8"
        />-
        <input
          type="text"
          name="id_pt_4"
          required
          minlength="8"
          maxlength="8"
        />-
        <input
          type="text"
          name="id_pt_5"
          required
          minlength="8"
          maxlength="8"
        />-
        <input
          type="text"
          name="id_pt_6"
          required
          minlength="8"
          maxlength="8"
        />-
        <input
          type="text"
          name="id_pt_7"
          required
          minlength="8"
          maxlength="8"
        />
      </p>
      <br />
      <button type="submit">Register Device</button>
    </form>
  </body>
</html>
