<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScaleMeds Login</title>
  </head>
  <body>
    <h1>Please Enter Credentials</h1>
    <form action="/signup" method="post">
      <p>
        <label for="name"
          >Name:&nbsp;
          <input type="text" name="name" />
        </label>
      </p>
      <p>
        <label for="email"
          >E-Mail:&nbsp;
          <input type="email" name="email" />
        </label>
      </p>
      <p>
        <label for="pwd"
          >Password:&nbsp;
          <input type="password" name="pwd" />
        </label>
      </p>
      <br />
      <button type="submit">Register...</button>
    </form>
  </body>
</html>
