<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScaleMeds Login</title>
  </head>
  <body>
    <h1>Please Enter Credentials</h1>
    <form action="/signup" method="post">
      <p>
        <label for="name"
          >Name:&nbsp;
          <input type="text" name="name" />
        </label>
      </p>
      <p>
        <label for="uname"
          >Username:&nbsp;
          <input
            type="text"
            name="uname"
            pattern="[a-z0-9._]{5,15}"
            placeholder="Username"
          />
        </label>
      </p>
      <p>
        <label for="pwd"
          >Password:&nbsp;
          <input type="password" name="pwd" pattern=".{8,}" />
        </label>
      </p>
      <br />
      <button type="submit">Register...</button>
    </form>
  </body>
</html>
